<section>
    <div class="collect">
        <div class="collect__text">
            <h1 class="collect__h1">Collect Feedback, Unlock Ideas</h1>
            <p class="collect">Create and share surveys in minutes – from team events to workplace culture. Collect
                opinions, engage your audience, and turn feedback into action.</p>
        </div>
        <button class="btn">
            <p class="collect">New survey</p>
        </button>
    </div>
    <div class="mobile-img"></div>
</section>