section {
    padding: 40px 111px;
    display: flex;
    justify-content: space-between;

    .collect {
        height: 380px;


        &__box {
            width: 712px;
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &__h1 {
            font-size: 100px;
            line-height: 89px;
            letter-spacing: 0;
            font-weight: 400;
            font-family: 'NerkoOne';
            color: #FFB770;
        }

        &__text {
            width: 666px;
            font-size: 24px;
            font-weight: 600;
            line-height: 100%;
            font-family: 'Mulish';
            color: #FFFFFF;
        }

        &__btn {
            margin-top: 40px;
            display: flex;
            align-items: center;
        }
    }

    .mobile-img {
        background-image: url('../../../../../public/assets/img/mobile.png');
        height: 420px;
        width: 420px;

        &:hover {
            background-image: url('../../../../../public/assets/img/mobile_hover.png');
            height: 420px;
            width: 420px;
        }
    }
}