<section>
    <div class="collect">
        <div class="collect__box">
            <h1>Collect Feedback, Unlock Ideas</h1>
            <p class="collect__text">Create and share surveys in minutes – from team events to workplace culture. Collect
                opinions, engage your audience, and turn feedback into action.</p>
        </div>
        <button class="collect__btn">
            <p class="collect__text">New survey</p>
            <img class="collect__icon" src="./assets/img/icons/add_circle-icon.png" alt="">
        </button>
    </div>
    <div class="mobile-img"></div>
</section>