header {
    padding: 39px 111px;

    .logo {
        background-image: url('./../../../../public/assets/img/pollapp_logo_orange.png');
        height: 46px;
        width: 119px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}