<form (ngSubmit)="onSubmit()">
    <div class="headline">
        <span>
            <h3>Draft</h3>
            <h2>Create new survey</h2>
        </span>
        <button type="button" (click)="closeForm()" class="closeBtn closeBtn--color">
            <p>Cancel</p>
            <span>X</span>
        </button>
    </div>
    <div class="invest">
        <div class="invest--flex_colume">
            <div class="invest--flex_between">
                <div class="invest__box invest--flex_colume">
                    <div class="invest--flex_colume">
                        <label for="name">Survey name</label>
                        <span class="invest--flex_align">
                            <input type="text" id="name" name="">
                            <button type="button" class="trash"></button>
                        </span>
                    </div>

                    <div class="date-category-box">
                        <div class="invest--flex_colume">
                            <label for="lname">Set end date <span>(optional)</span></label>
                            <span class="invest--flex_align">
                                <input type="text" id="name" name="">
                                <button type="button" class="trash"></button>
                            </span>
                        </div>
                        <div class="dropdownbox">
                            <div class="dropdown">
                                <button type="button" (click)="dropdownMenu.toggleDropdown()" class="dropbtn"
                                    [class.active]="dropdownMenu.isDropdownOpen"></button>
                                <div class="dropdown-content" *ngIf="dropdownMenu.isDropdownOpen">
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Team Activities')">Team
                                        Activities</button>
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Health & Wellness')">Health
                                        & Wellness</button>
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Gaming & Entertainment')">Gaming
                                        &
                                        Entertainment</button>
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Education & Learning')">Education
                                        &
                                        Learning</button>
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Lifestyle & Preferences')">Lifestyle
                                        &
                                        Preferences</button>
                                    <button type="button"
                                        (click)="dropdownMenu.toggleDropdown(); dropdownMenu.dropdownText.set('Technology & Innovation')">Technology
                                        &
                                        Innovation</button>
                                </div>
                            </div>
                            <p class="active-catergory">{{dropdownMenu.dropdownText()}}</p>
                        </div>

                    </div>
                </div>
                <div>
                    <span class="invest--flex_colume">
                        <label for="description">Description text <span>(optional)</span></label>
                        <span class="invest--flex_align-start">
                            <input class="description" type="text" id="description" name="">
                            <button type="button" class="trash"></button>
                        </span>
                    </span>

                </div>
            </div>
        </div>
        <div class="questions">
            <div class="questions__headline">
                <div class="questions__headline--flex-between">
                    <label for="question">1. Question</label>
                    <button type="button" class="trash"></button>
                </div>
                <input type="text" placeholder="Which date would work best for you?">
            </div>
            <div>
                <div class="answers">
                    <label for="answers">Answers</label>
                    <div class="more-answers">
                        <input type="checkbox">
                        <p class="more-answers__text">Allow muliple answers</p>
                    </div>
                </div>
                <div class="answer">
                    <p>A.</p>
                    <input type="text">
                    <button type="button" class="trash"></button>
                </div>
                <div class="answer">
                    <p>B.</p>
                    <input type="text">
                    <button type="button" class="trash"></button>
                </div>

            </div>
        </div>
    </div>
    <button type="submit">Publish</button>
</form>