@use '../../styles/abstracts/mixin' as mx;
@use '../../styles/abstracts/function' as fc;

form {
    border-radius: 5px 100px 5px 5px;
    background-color: #35273A;
    padding: 40px 54px;
    cursor: default;
    color: #FEFDFF;

    label {
        font-size: fc.px-to-rem(18);
        font-weight: 700;
        font-family: 'Mulish';
        line-height: 100%;
    }

    input {
        width: 100%;
        border: none;
        border-radius: 5px 20px 5px 5px;
        height: 37px;
        padding: 7px 13px;
    }
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h3 {
    height: 26px;
    width: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCFA1;
    border-top-right-radius: 14px;
    font-size: fc.px-to-rem(16);
    margin-bottom: 8px;
}

h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 100%;
    font-family: 'NerkoOne';
    color: #EE9236;
}

.closeBtn {
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #FFB7704D;
    transition: 125ms ease-in-out;

    &:hover {
        background-color: rgba(255, 165, 75, 0.459);
    }

    &--color {
        color: #FEFDFF;
        font-size: fc.px-to-rem(16);
        font-weight: 700;
        line-height: 100%;
        font-family: 'Nokora';
    }
}

.container {
    margin-top: 32px;
    padding: 40px 32px;
    border-radius: 5px 80px 5px 5px;
    background-color: #8E709929;
    gap: 80px;
    @include mx.flex-column;
}

.labeling {
    @include mx.flex-between;
}

.entry-details {
    @include mx.flex-column;
    @include mx.gap;
}

.surveyname {
    @include mx.flex-column;
    @include mx.gap(4px);
    width: 470px;

    &--flex {
        @include mx.flex-between-center;
        @include mx.gap;
    }
}

.date-category {
    display: flex;
    @include mx.gap;

    &__date {
        @include mx.flex-column;
        @include mx.gap(4px);

        &--flex {
            @include mx.flex-between-center;
            @include mx.gap;
        }
    }
}

.description {
    @include mx.flex-column;
    @include mx.gap(4px);
    width: 452px;

    input {
        height: 108px
    }

    &--flex {
        display: flex;
        align-items: flex-start;
        @include mx.gap;
    }
}

.trash {
    background-image: url('../../../../public/assets/img/icons/delete.png');
    width: 26px;
    height: 26px;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
        background-image: url('../../../../public/assets/img/icons/delete_hover.png');
        width: 26px;
        height: 26px;
        background-size: contain;
    }
}

.dropdownbox {
    position: relative;
}

.dropbtn {
    background-image: url('../../../../public/assets/img/dropdown_default.png');
    width: 206px;
    height: 32px;

    &:hover {
        background-image: url('../../../../public/assets/img/dropdown_hover.png');
    }

    &.active {
        background-image: url('../../../../public/assets/img/dropdown_click.png');
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    .dropdown-content {
        position: absolute;
        background-color: #f1f1f1;
        min-width: 206px;
        z-index: 1;
        border-radius: 6px;
    }

    .dropdown-content button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }
}

.active-catergory {
    position: absolute;
    height: 26px;
    padding: 4px;
    margin-left: 5px;

    color: #FFB770;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 2%;
    font-family: 'Mulish';
}

.questionsbox {
    height: auto;
    max-height: 400px;
    overflow: auto;
}

.question {
    @include mx.flex-column;
    @include mx.gap(24px);
    width: 429px;
}

.question-headline {
    @include mx.flex-column;
    @include mx.gap;

    h4 {
        padding-left: 8px
    }

    &--flex {
        @include mx.flex-between-center;
    }
}

.answer {
    @include mx.flex-column;
    @include mx.gap(16px);

    &__headline {
        @include mx.flex-between-center;
    }

    &__checkbox {
        @include mx.flex-center;
        @include mx.gap(4px);

        input[type="checkbox"] {
            appearance: none;
            padding: 0;
            height: 15px;
            width: 15px;
            border: 1.5px solid #FFFFFF;
            border-radius: 3px;

            display: grid;
            place-content: center;

            &::before {
                content: "";
                height: 15px;
                width: 15px;
                transform: scale(0);
                background-image: url("./../../../../public/assets/img/icons/check.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 15px;
                background-color: #EE9236;
                border-radius: 3px;
            }

            &:checked::before {
                transform: scale(1);
            }

            &:hover {
                background-color: #ddb895;
                cursor: pointer;
            }
        }

        &--text {
            font-size: 12px;
            font-weight: 400;
            font-family: "Mulish";
            line-height: 100%;
            letter-spacing: 0;
        }
    }
}

.answer-box {
    margin-top: 8px;
    @include mx.flex-between-center;
    @include mx.gap;

}

.button-box {
    width: 100%;

    &--add_answer {
        margin-top: 10px;
        margin-left: 36px;
    }

    &--public {
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
    }
}

.add_answer_btn {
    position: relative;
    height: 40px;
    width: 146px;
    @include mx.flex-center;
    @include mx.gap;

    &:active {
        background-color: #ffffff41;
    }

    .position {
        width: 126px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-bottom: 8px;

        &__text {
            font-size: 16px;
            font-weight: 700;
            font-family: 'Nokora';
            color: #FEFDFF;
            letter-spacing: 2%;
            line-height: 100%;
        }

        img {
            height: 24px;
            width: 24px;
        }
    }

    .underline {
        position: absolute;
        bottom: 8px;
        width: 126px;
        height: 2px;
        background-color: #FFFFFF;
        border: none;
    }
}

.btn {
    position: relative;
    padding: 12px 16px;
    border-radius: 10px;
    transition: 250ms ease-in-out;

    &--primary {
        background-color: #FFCFA1;
        font-size: 18px;
        font-weight: 700;
        font-family: "Nokora";
        line-height: 100%;
    }

    &__chop {
        position: absolute;
        height: auto;
        width: 40px;
        top: 0;
        opacity: 0;
        transition: opacity 250ms ease-in-out;
    }

    &:hover {
        background-color: #FFB770;
        padding-right: 45px;

        .btn__chop {
            opacity: 1;
        }
    }
}

.btn:disabled {
    background-color: grey;
    cursor: default;

    &:hover {
        padding-right: 16px;
        background-color: grey;

        .btn__chop {
            opacity: 0;
        }
    }
}