form {
    border-radius: 5px 100px 5px 5px;
    background-color: #35273A;
    padding: 40px 54px;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

h3 {
    height: 26px;
    width: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCFA1;
    border-top-right-radius: 14px;
    font-size: 16px;
    margin-bottom: 8px;
}

h2 {
    font-size: 56px;
    font-weight: 400;
    line-height: 100%;
    font-family: 'NerkoOne';
    color: #EE9236;
}

.closeBtn {
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #FFB7704D;
    transition: 125ms ease-in-out;

    &:hover {
        background-color: rgba(255, 165, 75, 0.459);
    }

    &--color {
        color: #FEFDFF;
        font-size: 16px;
        font-weight: 700;
        line-height: 100%;
        font-family: 'Nokora';
    }
}

.invest {
    margin-top: 32px;
    padding: 40px 32px;
    border-radius: 5px 80px 5px 5px;
    background-color: #8E709929;

    &__box {
        gap: 8px;
    }

    &--flex_colume {
        display: flex;
        flex-direction: column;
    }

    &--flex_align {
        display: flex;
        align-items: center;
    }

    &--flex_between {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.trash {
    background-image: url('../../../../public/assets/img/icons/delete.png');
    width: 26px;
    height: 26px;
    background-size: cover;

    &:hover {
        background-image: url('../../../../public/assets/img/icons/delete_hover.png');
        width: 26px;
        height: 26px;
        background-size: cover;
    }
}