<main>
    @for (survey of list(); track $index) {
    <section>
        <p class="status">Published</p>
        <!-- published in die datenbank hinzufügen -->
        <div class="survey-container">
            <div class="survey-box">
                <div class="survey-headline-box">
                    <div class="date-category-box">
                        <p class="date-category-box--font">
                            Ends on {{ survey.date }}
                        </p>
                        <p class="date-category-box--font">
                            Category: {{ survey.category }}
                        </p>
                    </div>
                    <h2>
                        {{ survey.surveyname }}
                    </h2>
                    <p class="description">
                        {{ survey.description }}
                    </p>
                </div>

                <div class="questions-container">
                    <ol>
                        @for (question of survey.questions; track $index;) {
                        <li>
                            <div class="question-box">
                                <div class="question-box__text">
                                    <h3>
                                        {{ question.question }}
                                    </h3>
                                    @if (question.multipleAnswers == true) {
                                    <p class="muliple-answers-text">{{ "More than on answers are possible" }}</p>
                                    }
                                </div>
                                <div class="answers-container">
                                    <ol>
                                        @for (answer of question.answers; track $index) {
                                        <li class="answer-item">
                                            <label>
                                                <input type="checkbox" name="answer-{{ $index }}" value="{{ answer }}">
                                                <div>
                                                    <span class="marker">{{ toLetter($index) }}.</span>
                                                    <span class="text">{{ answer }}</span>
                                                </div>
                                            </label>
                                        </li>
                                        }
                                    </ol>
                                </div>

                            </div>
                        </li>
                        }
                    </ol>
                </div>
            </div>
            <button class="complet-survey-btn">
                <p class="complet-survey-btn__text">Complete survey</p>
            </button>
        </div>
    </section>
    <aside>
        <h2>Survey results <span>LIVE</span></h2>
        <div>
            @for (question of survey.questions; track $index;) {
            <h3>{{$index + 1}}.{{ question.question }}</h3>
            }
        </div>
    </aside>
    }
</main>