<section>
    <div class="search-surveys">
        <div class="search-surveys__box">
            <button class="search-surveys__btn" [class.active]="selectedActive() === 'active'"
                (click)="filterSelection('active');">Active survey</button>
            <button class="search-surveys__btn" [class.active]="selectedActive() === 'past'"
                (click)="filterSelection('past');">Past survey</button>
        </div>
        <div class="dropdownbox">
            <div class="dropdown">
                <button (click)="dropdownMenu.toggleDropdown()" class="dropbtn"
                    [class.active]="dropdownMenu.isDropdownOpen"></button>
                <div class="dropdown-content" *ngIf="dropdownMenu.isDropdownOpen">
                    <button
                        (click)="dropdownMenu.toggleDropdown(); resetFilter();">All
                        Surveys</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Team Activities'); dropdownMenu.dropdownText.set('Team Activities')">Team
                        Activities</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Health & Wellness'); dropdownMenu.dropdownText.set('Health & Wellness')">Health
                        & Wellness</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Gaming & Entertainment'); dropdownMenu.dropdownText.set('Gaming & Entertainment')">Gaming
                        &
                        Entertainment</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Education & Learning'); dropdownMenu.dropdownText.set('Education & Learning')">Education
                        &
                        Learning</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Lifestyle & Preferences'); dropdownMenu.dropdownText.set('Lifestyle & Preferences')">Lifestyle
                        &
                        Preferences</button>
                    <button
                        (click)="dropdownMenu.toggleDropdown(); filterCategory('Technology & Innovation'); dropdownMenu.dropdownText.set('Technology & Innovation')">Technology
                        &
                        Innovation</button>
                </div>
            </div>
            <p class="active-catergory">{{dropdownMenu.dropdownText()}}</p>
        </div>
    </div>
    <div class="surveyslist">
        @for (item of cardlist(); track item.id) {
        @if (selectedActive() === 'active' && (item.date | daysLeft) > 0) {
        <button class="card">
            <div class="card__box">
                <p class="card__box--category">{{item.category}}</p>
                <h3 class="card__box--text">{{item.surveyname}}</h3>
            </div>
            <p class="card--day">Ends in {{(item.date | daysLeft)}} Day</p>
        </button>
        }
        @if (selectedActive() === 'past' && (item.date | daysLeft) <= 0) {
        <button class="card">
            <div class="card__box">
                <p class="card__box--category">{{item.category}}</p>
                <h3 class="card__box--text">{{item.surveyname}}</h3>
            </div>
        </button>
        }
        }
    </div>
</section>