* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    &.body--primary {
        background-color: #35273A;
    }

    &.body--secondary {
        background-color: #FFFFFF;
    }

    cursor: default;
}


.app-wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 39px 111px 100px;
    background-color: transparent;
}


button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.collect-btn {
    position: relative;
    margin-top: 40px;
    transition: all 256ms ease-in-out;

    &__text {
        padding: 12px 16px;
        font-size: 18px;
        font-weight: 700;
        font-family: 'Nokora';
    }

    &__icon {
        position: absolute;
        opacity: 0;
        top: 15px;
        right: -10px;
        transition: all 256ms ease-in-out;
    }

    &--primary {
        border-radius: 10px;
        background-color: #FFCFA1;

    }

    &:hover {
        padding-right: 20px;
        background-color: #FFB770;

        .collect-btn__icon {
            right: 10px;
            opacity: 1;
        }
    }
}

.complet-survey-btn {
    padding: 8px 12px;
    border-radius: 10px;
    background-color: #FFB7704D;

    &:hover {
        background-color: #FFCFA1;
    }

    &__text {
        font-family: 'Nokora';
        font-size: 16px;
        font-weight: 700;
        color: #35273A;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FFB770;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffb770;
}

@media(max-width: 1440px) {
    .app-wrapper {
        padding: 0;
    }
}

@media(max-width: 1130px) {
    .collect-btn {
        padding: 12px 16px;
        transition: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        &__text {
            padding: 0;
        }

        &__icon {
            position: relative;
            opacity: 1;
            top: 0;
            right: 0;
            transition: none;
        }

        &--primary {
            border-radius: 10px;
            background-color: #FFB770;
        }

        &:hover {
            padding-right: 16px;

            .collect-btn__icon {
                right: 0;
                opacity: 1;
            }
        }
    }
}